body {
    margin: 0;
}

.banner {
    background-color: #0D1A2B;
    color: #FFFFFF;
    font-size: 250%;
}

.banner img {
    height: 150px;
    background-color: #B6DEF6;
    margin: 0 15px 0 0;
    border: none;
}

.nav-menu {
    font-size: 20px;
    font-style: italic;
}

.nav-menu a {
    float: left;
    display: block;
    color: white;
    background-color: #0D1A2B;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-decoration: none;
    /*stops the links from being underlined*/
}

.nav-menu a:hover {
    background-color: #B6DEF6;
    width: 100%;

}

h2 {
    background-color: #0D1A2B;
    color: white;
    margin: 0 auto;
    font-family: Copperplate;
}

.pets {
    float: left;
    width: 100%;
}

.pets table {
    width: 100%;
    padding: 5px;
    table-layout: fixed;
}

.pets p {
    font-family: Copperplate;
}

.pets tr {
    vertical-align: bottom;
    text-align: center;
}

.pets td {
    background-color: #B6DEF6;
    color: #0D1A2B;
    padding: 10px;
}

.pet {
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right:15px;
}

.sidebar {
    float: left;
    width: 25%;
}

.sidebar p[id="italicize"] {
    font-style: italic;
}

.cert {
    float: left;
    width: 10%;
}

.cert img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #0D1A2B;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}

.btn-info {
    background-color: #0D1A2B;
    color: #FFF;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-info:hover {
    color: #f5f5f5;
    font-size: 16px;
    font-style: italic;
}