{% extends "pets_app/base.html" %}
{% block content %}

<div class="pets" id="pets-link">

    <h2 style="padding: 20px;">Pets</h2>
    <br/>
    <div class="container-fluid px-7" style="margin-top: 5rem;">
        <div class="row justify-content-center">
            {% for p in pets %}
            <div class="col-12 col-sm-6 col-md-4 mb-4 text-center">
                <a href="{% url 'pet' p.id %}">
                    <img src="{{ p.picture.url }}" class="img-fluid rounded" style="height: 350px; width: 100%; object-fit: cover;" />
                    <br/>
                    <br/>
                    <p>{{ p.name }}</p>
                </a>
                <p>{{ p.owner }}</p>
            </div>
            {% endfor %}
        </div>
    </div>

</div>

{% endblock content %}
